{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Edit Post</h1>
        {{ include('posts/_form.html.twig') }}
    </div>
{% endblock %}
